.channel-controller {
    h1 {
        font-family: 'Grandstander', cursive;
        font-size: 80px;
        color: bisque;
    }

    h2 {
        color: honeydew;
    }

    h4 {
        color: burlywood;
    }
}