<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="StreamSettings">
      <section name="BeamBusCas" type="System.Configuration.NameValueSectionHandler" />
      <section name="BeamBusFasTas" type="System.Configuration.NameValueSectionHandler" />
      <section name="Idrs" type="System.Configuration.NameValueSectionHandler" />
      <section name="PrsStaveBus" type="System.Configuration.NameValueSectionHandler" />
      <section name="StaveBusCas" type="System.Configuration.NameValueSectionHandler" />
      <section name="StaveBusFasTas" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="segments-path" value="E:\DEV\Course Maftech\Lucid-Dream-Curse-Key\reordings fo simulator 30 seconds"/>
  </appSettings>

  <StreamSettings>
    <BeamBusCas>
      <add key="IP" value="127.0.0.1" />
      <add key="Port" value="25104" />
      <add key="Recording_Name" value="CAS_HAKATON.rec" />
    </BeamBusCas>
    <BeamBusFasTas>
      <add key="IP" value="127.0.0.1" />
      <add key="Port" value="25105" />
      <add key="Recording_Name" value="FAS_HAKATON.rec" />
    </BeamBusFasTas>
    <Idrs>
      <add key="IP" value="127.0.0.1" />
      <add key="Port" value="25106" />
      <add key="Recording_Name" value="IDRS.rec" />
    </Idrs>
    <PrsStaveBus>
      <add key="IP" value="127.0.0.1" />
      <add key="Port" value="25103" />
      <add key="Recording_Name" value="PRS_STAVE.rec" />
    </PrsStaveBus>
    <StaveBusCas>
      <add key="IP" value="127.0.0.1" />
      <add key="Port" value="25101" />
      <add key="Recording_Name" value="CAS_STAVE.rec" />
    </StaveBusCas>
    <StaveBusFasTas>
      <add key="IP" value="127.0.0.1" />
      <add key="Port" value="25102" />
      <add key="Recording_Name" value="FAS_STAVE.rec" />
    </StaveBusFasTas>
  </StreamSettings>
</configuration>