<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="segments-path" value="E:\DEV\Course Maftech\Lucid-Dream-Curse-Key\reordings fo simulator 30 seconds"/>
  </appSettings>
</configuration>