<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="StreamSettings">
			<section name="CasStave" type="System.Configuration.NameValueSectionHandler" />
			<section name="FasTasStave" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
	</configSections>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

	<StreamSettings>
		<CasStave>
			<add key="IP" value="127.0.0.1" />
			<add key="Port" value="25111" />
			<add key="Delimiter" value="6" />
		</CasStave>
		<FasTasStave>
			<add key="IP" value="127.0.0.1" />
			<add key="Port" value="25112" />
			<add key="Delimiter" value="7" />
		</FasTasStave>
	</StreamSettings>
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>