<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Enums">
      <section
    name="streamTypes"
    type="System.Configuration.AppSettingsSection" />
    </sectionGroup>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="save-path" value="C:\Recordings" />
  </appSettings>
  <Enums>
    <streamTypes>
      <add key="1" value="cas-stave" />
      <add key="2" value="fas-tas-stave" />
      <add key="3" value="prs-stave" />
      <add key="4" value="cas-beam" />
    </streamTypes>
  </Enums>
</configuration>