.distribution-controller {
    .form-wrapper {
        padding: 1rem;
        border: .2rem solid #ececec;
        border-width: .2rem .2rem .2rem .2rem;
        border-radius: 8px 8px 8px 8px;
        margin-bottom: 2rem;
    }
}